 $primary-text-color: #907E82;
 $secondary-text-color: #FFFFFF;
 $title-text-color: #000000;
 $primary-accent-text-color: #D41443;
 $secondary-accent-text-color: #FFA5BA;
 $primary-background-color: #FFFFFF;
 $accent-background-color: #FFB8CA;
 $secondary-background-color: #FFF5F6;