 <!-- About -->

    <section class="about section" id="about">
        <div class="about__background-desktop"></div>
      <div class="container about__container">
        <div class="about__background-mob"></div>
        <p class="about__label">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about__flex">
          <div class="about__flex-part about__flex-part--left">
            <img class="about__img" 
            srcset="./images/desktop/about-img--1x.png 1x, ./images/desktop/about-img--2x.png 2x, ./images/desktop/about-img--3x.png 3x"
            src="./images/desktop/about-img--1x.png" 
            width="501" 
            alt="Корова" />
          </div>
          <div class="about__flex-part about__flex-part--right">
            <p class="about__text about__text--first">
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
              faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
            </p>
            <p class="about__text about__text--second">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
              orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a
              feugiat urna maximus. Cras massa nibh, tincidunt.
            </p>
            <p class="about__text about__text--third">Aliquam erat volutpat. Aenean accumsan.</p>
            <button class="about__button" type="button">
                Read more
                <svg class="about__button-icon" width="8" height="10">
                    <use href="./images/svg/icommon.svg#icon-button-icon"></use>
                </svg>
            </button>
          </div>
        </div>
      </div>
    </section>