<section class="section--top-padding advantages">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages__list list">
            <li class="advantages__item list">
                <span class="advantages__count advantages__count--first-icon" 
                data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1000">721</span>
                <p class="advantages__desc">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item list">
                <span class="advantages__count advantages__count--second-icon"                 
                data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1000">16kg</span>
                <p class="advantages__desc">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item list">
                <span class="advantages__count advantages__count--third-icon"
                data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1000">84</span>
                <p class="advantages__desc">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>