<section class="section--top-padding advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item list">
        <span class="advantages__count advantages__count--first-icon"></span>
        <p class="advantages__desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item list">
        <span class="advantages__count advantages__count--second-icon"></span>
        <p class="advantages__desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item list">
        <span class="advantages__count advantages__count--third-icon"></span>
        <p class="advantages__desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
