<h2 class="customer-reviews-title">Customer-reviews</h2>
<div class="section-slider section">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide container">
        <img
          class="slider-photo"
          srcset="
            /src/images/mobile/section-slider-1.png    1x,
            /src/images/mobile/section-slider-1-2x.png 2x
          "
          src="/src/images/mobile/section-slider-1.png"
          alt="client photo"
        />
        <div class="slider-thumb">
          <p class="slider-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="slider-location">Emily, Los Angeles</p>
      </div>
      <div class="swiper-slide container">
        <img
          class="slider-photo"
          srcset="
            /src/images/mobile/section-slider-2.png    1x,
            /src/images/mobile/section-slider-2-2x.png 2x
          "
          src="/src/images/mobile/section-slider-2.png"
          alt="client photo"
        />
        <div class="slider-thumb">
          <p class="slider-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="slider-location">Isabella, Chicago</p>
      </div>
      <div class="swiper-slide container">
        <img
          class="slider-photo"
          srcset="
            /src/images/mobile/section-slider-3.png    1x,
            /src/images/mobile/section-slider-3-2x.png 2x
          "
          src="/src/images/mobile/section-slider-3.png"
          alt="client photo"
        />
        <div class="slider-thumb">
          <p class="slider-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="slider-location">Rose, New York</p>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
