<footer>
    <div class="footer__container">
        <p class="footer__header">homemade ice cream made</p>
        <p class="footer__text">with passion</p>
        <ul class="footer__list">
            <li class="footer__item">
                <a class="footer__link" href="https://github.com/" target="_blank"
                    rel="noopener">
                    <svg class="footer__icon" width="19" height="19">
                        <use href="./images/svg/icommon.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="https://web.telegram.org/" target="_blank"
                    rel="noopener">
                    <svg class="footer__icon" width="19" height="15">
                        <use href="./images/svg/icommon.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="https://facebook.com/" target="_blank"
                    rel="noopener">
                    <svg class="footer__icon" width="19" height="15">
                        <use href="./images/svg/icommon.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <address>
            <p class="footer__nav-text">Feel free to contact <a class="footer__nav" href="+610383766284">+61 (0) 383 766
                    284</a></p>
        </address>
        <p class="footer-rights">&copy;
            2022 - IceCream. <span class="footer__rights-text">All Rights Reserved.</span>
    </div>
</footer>