<section class="section section-gallery">
    <h2 hidden>Gallery</h2>
    <div class="container container-gallery" data-aos="zoom-in">
        <div class="gallery__item">
            <img class="gallery__image"
                srcset="./images/desktop/gallery-img1--1x.jpg 1x, ./images/desktop/gallery-img1--2x.jpg 2x, ./images/desktop/gallery-img1--3x.jpg"
                src="./images/desktop/gallery-img1--1x.jpg" lt="gallery-image">
        </div>
        <div>
            <div class="gallery__item">
                <img class="gallery__image"
                    srcset="./images/desktop/gallery-img2--1x.jpg 1x, ./images/desktop/gallery-img2--2x.jpg 2x, ./images/desktop/gallery-img2--3x.jpg 3x"
                    src="./images/desktop/gallery-img2--1x.jpg" alt="gallery-image">
            </div>
            <div class="gallery__item">
                <img class="gallery__image"
                    srcset="./images/desktop/gallery-img3--1x.jpg 1x, ./images/desktop/gallery-img3--2x.jpg 2x, ./images/desktop/gallery-img3--3x.jpg 3x"
                    src="./images/desktop/gallery-img3--1x.jpg" alt="gallery-image">
            </div>
        </div>
        <div>
            <div class="gallery__item">
                <img class="gallery__image gallery__image--large"
                    srcset="./images/desktop/gallery-img4--1x.jpg 1x, ./images/desktop/gallery-img4--2x.jpg 2x, ./images/desktop/gallery-img4--3x.jpg 3x"
                    src="./images/desktop/gallery-img4--1x.jpg" alt="gallery-image">
            </div>
            <div class="gallery__item">
                <img class="gallery__image"
                    srcset="./images/desktop/gallery-img5--1x.jpg 1x, ./images/desktop/gallery-img5--2x.jpg 2x, ./images/desktop/gallery-img5--3x.jpg 3x"
                    src="./images/desktop/gallery-img5--1x.jpg" alt="gallery-image">
            </div>
        </div>
        <div>
            <div class="gallery__item">
                <img class="gallery__image"
                    srcset="./images/desktop/gallery-img6--1x.jpg 1x, ./images/desktop/gallery-img6--2x.jpg 2x, ./images/desktop/gallery-img6--3x.jpg 3x"
                    src="./images/desktop/gallery-img6--1x.jpg" alt="gallery-image">
            </div>
            <div class="gallery__item">
                <img class="gallery__image"
                    srcset="./images/desktop/gallery-img7--1x.jpg 1x, ./images/desktop/gallery-img7--2x.jpg 2x, ./images/desktop/gallery-img7--3x.jpg 3x"
                    src="./images/desktop/gallery-img7--1x.jpg" alt="gallery-image">
            </div>
        </div>
        <div class="div-padding">
            <div class="gallery__item">
                <img class="gallery__image"
                    srcset="./images/desktop/gallery-img8--1x.jpg 1x, ./images/desktop/gallery-img8--2x.jpg 2x, ./images/desktop/gallery-img8--3x.jpg 3x"
                    src="./images/desktop/gallery-img8--1x.jpg" alt="gallery-image">
            </div>
            <div class="gallery__item">
                <img class="gallery__image"
                    srcset="./images/desktop/gallery-img9--1x.jpg 1x, ./images/desktop/gallery-img9--2x.jpg 2x, ./images/desktop/gallery-img9--3x.jpg 3x"
                    src="./images/desktop/gallery-img9--1x.jpg" alt="gallery-image">
            </div>
        </div>

        <div class="gallery__item">
            <img class="gallery__image"
                srcset="./images/desktop/gallery-img10--1x.jpg 1x, ./images/desktop/gallery-img10--2x.jpg 2x, ./images/desktop/gallery-img10--3x.jpg 3x"
                src="./images/desktop/gallery-img10--1x.jpg" alt="gallery-image">
        </div>
    </div>
</section>