 <section class="products">
        <div class="container">
                 <p class="products__title--secondary">100% natural</p>
            <h2 class="products__title--main">products</h2>
        
           
   <ul class="products__list list">
        <li class="products__cards">
            <img   class="products__image products__image--icecream">
            <div class="products__discription products__discription--icecream">
            <h3 class="products__name elipse">ice cream</h3>
            
            <p class="products__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>

             <button class="products__button" data-modal-close>        
              <svg   width="40" height="40">
                    <use >
                    </use>
                    </svg>
                </button>
                    </div>
    </li>

    <li class="products__cards">
            <img  class="products__image products__image--icecofee">
            <div class="products__discription products__discription--icecoffe">
            <h3 class="products__name elipse">ice cofee</h3>
            
            <p class="products__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>

             <button class="products__button" data-modal-close>        
              <svg   width="40" height="40">
                    <use >
                    </use>
                    </svg>
                </button>
                    </div>
    </li>


    <li class="products__cards">
            <img   class="products__image products__image--milkshakes">
            <div class="products__discription products__discription--milkshake">
            <h3 class="products__name elipse">milkshakes</h3>
            
            <p class="products__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>

             <button class="products__button" data-modal-close>        
              <svg   width="40" height="40">
                    <use >
                    </use>
                    </svg>
                </button>
                    </div>
    </li>
     </ul>
        </div>
    </section>