    <section class="products">
        <div class="container">
                 <p class="products__title--secondary">100% natural</p>
            <h2 class="products__title--main">products</h2>
        
           
   <ul class="products__list">
        <li class="products__cards">
            <img class="products__photo" src="" alt="ice cream" width="280">
                 
        <div class="products__discription products__discription--icecream">
            <h3 class="products__name elipse">ice cream</h3>
            
            <p class="products__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>

            
            <!-- <button type="button" class="button"  data-modal-close>        
              <svg class="product-icon"  width="40" height="40">
                    <use href="./img/symbol-defs.svg#icon-arrow-right2">
                    </use>
                    </svg>
                </button> -->



            <a href="" class="product__link link">
                <svg class="product__icon" width="40" height="40">
                <use href=""></use>
                </svg></a>

                

        </div>
    </li>
        <li class="products__cards">
            <img class="products__photo" 
                    src="" alt="ice cofee" width="280">
                    <div class="products__discription products__discription--icecoffe">
            <h3 class="products__name elipse">ice cofee</h3>
           
            <p class="products__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>

            <a href="" class="product__link link">
                <svg class="product__icon" width="40" height="40">
                <use href=""></use>
                </svg></a>
        </div>
    </li>
        <li class="products__cards">
            <img class="products__photo"
                    src="" alt="milkshakes" width="280">
                    <div class="products__discription products__discription--milkshake">
            <h3 class="products__name elipse">milkshakes</h3>
             
            <p class="products__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>

            <a href="" class="product__link link">
                <svg class="product__icon" width="40" height="40">
                <use href=""></use>
                </svg></a>
        </div>
    </li>
    </ul>
        </div>
    </section>