.about {
    position: relative;
    background-color: $secondary-background-color;

    @media screen and (max-width: 767px) {
        padding-bottom: 0;
    }
}

.about__background-desktop {
    @media screen and (max-width: 1199px) {
        display: none;
    }

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1600px;
    height: 521px;
    transform: translateY(236px);
    z-index: 1;
    background-image: url(../images/desktop/about-bg-img--1x.png);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../images/desktop/about-bg-img--2x.png);
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
        background-image: url(../images/desktop/about-bg-img--3x.png);
    }

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: 1600px) {
        transform: translateY(236px) translateX(calc((100vw - 1600px) / 2));
    }
}

.about__container {
    position: relative;
}

.about__background-mob {
    @media screen and (min-width: 768px) {
        display: none;
    }

    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    height: 133px;
    transform: translateY(402%);
    z-index: 1;
    background-image: url(../images/mobile/about-bg-1x.png);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../images/mobile/about-bg-2x.png);
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
        background-image: url(../images/mobile/about-bg-3x.png);
    }

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about__label {
    font-family: 'Titan One';
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 15px;
    color: $secondary-accent-text-color;

    @media screen and (min-width: 768px) {
        font-size: 26px;
        margin-bottom: 16px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: 1.1;
        letter-spacing: 0.04em;
    }
}

.about__title {
    font-family: 'Titan One';
    font-size: 34px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    margin-bottom: 32px;
    color: $primary-accent-text-color;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 58px;
        letter-spacing: 0.06em;
        margin-bottom: 60px;
    }
}

.about__flex {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: flex-start;
    }
}

.about__flex-part {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc((100% - 32px) / 2);

        &:not(:first-child) {
            margin-left: 32px;
        }
    }
}

.about__flex-part--left {
    @media screen and (max-width: 767px) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
        width: 501px;
    }
}

.about__flex-part--right {
    @media screen and (max-width: 767px) {
        padding-right: 60px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 90px;
        margin-left: 99px;
        width: 463px;
    }
}

.about__img {
    @media screen and (min-width: 768px) {
        width: 100%;
    }
}

.about__text {
    position: relative;
    z-index: 2;

    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 176%;
    }

    @media screen and (min-width: 1200px) {
        line-height: 194%;
        letter-spacing: 0.04em;
    }
}

.about__text--first {
    color: $title-text-color;
    margin-bottom: 22px;

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 176%;
        margin-bottom: 32px;
    }
}

.about__text--second {
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
        letter-spacing: 0.04em;
        margin-bottom: 32px;
    }
}

.about__text--third {
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        letter-spacing: 0.04em;
        margin-bottom: 40px;
    }
}

.about__button {
    position: relative;
    z-index: 3;
    color: $primary-accent-text-color;
    background-color: $primary-background-color;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 22px;
    min-width: 176px;
    border-color: transparent;
    padding: 10px 37px;
    transition-property: box-shadow, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #ECEBEB;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }

}

.about__button-icon {
    margin-left: 14px;
}


.about__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffb8ca91;
    z-index: 3;
    opacity: 1;
    padding: 10px;
    overflow-y: scroll;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.about__backdrop--is-hidden {
    opacity: 0;
    pointer-events: none;
}

.about__modal {
    position: relative;
    top: 25px;
    left: 25px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: calc(100vw - 72px);
    padding: 20px;
    background: #E17992;
    color: $secondary-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    z-index: 4;
    pointer-events: none;
    @media screen and (min-width: 768px) {
    top: 60px;
    left: 60px;
    padding: 40px;
    width: calc(100vw - 150px);
    }
    @media screen and (min-width: 1200px) {
    top: 60px;
    left: 140px;
    padding: 40px;
    width: calc(100vw - 320px);
    }
    
    .about__backdrop--is-hidden & {
        transform: scale(0.8);
        }
}

.about__modal-title {
text-align: center;
margin-bottom: 30px;
text-transform: uppercase;
font-family: 'Titan One';
font-size: 30px;
line-height: 1.1;
letter-spacing: 0.06em;

color: #D41443;
@media screen and (min-width:1200px) {
font-size: 38px;
}
}

.about__modal-text{
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;
}

