.customer-reviews__title {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 0;
  margin: 0;
  height: 0;
}

.swiper-slide {
  
  overflow: hidden;
  
}

.swiper-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.slider-text {
  text-align: center;
  width: 157px;

  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  color: $title-text-color;
  background-image: repeating-linear-gradient(
    180deg,
    transparent,
    transparent 29px,
    #e1e1e1 30px
  );
}

.slider-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  padding-top: 43px;
  padding-bottom: 17px;
  padding-right: 50px;
  padding-left: 50px;

  background-color: #fafafa;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  color: #d9d9d9;
}
.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  border-radius: 0;

  background-image: url(/src/images/svg/slider-home.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.slider-location {
  text-align: center;
  margin-top: 16px;
  margin: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.9;
  color: $title-text-color;
}

.slider-location::before {
  content: '';
  display: block;
  text-align: center;
  margin: 0 auto 16px;
  width: 32px;
  height: 4px;
  background-image: url(/src/images/svg/slider-dots.svg);
}

.slider-photo {
  width: 85px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
