.section-gallery {
    padding-top: 0;
    background-image: linear-gradient(to bottom,
                $secondary-background-color 19%,
                $primary-background-color 19%,
                $primary-background-color 81%,
                $primary-background-color 81%);
}

.container-gallery {
    padding: 0;

    @media screen and (min-width: 1200px) {
        padding-left: 93px;
        padding-right: 94px;
    }
}
