header {
  background-color: $accent-background-color;
  position: relative;
}
.header__logo {
  display: inline-block;
  padding: 8px 0px;
}
.header__nav__list {
  transform: translateX(100%);
  display: none;
}
.menu__button {
  // border: 1px solid #D41443;

  border: none;
  background-color: transparent;
  position: absolute;
}
.menu__button--open {
  fill: rgba(212, 20, 67, 1);
  @media screen and (max-width: 1199px) {
    // display: none;
    top: 15px;
    right: 20px;
  }
}
.menu__button--close {
  fill: $primary-background-color;
  @media screen and (max-width: 1199px) {
    // display: none;
    top: 15px;
    right: 21px;
  }
  &:focus,
  &:hover {
    fill: $primary-accent-text-color;
  }
}
.button__open-modal {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.menu__nav__item {
  padding: 13px 0px;

  border: 1px solid #e18298;
}

.header__nav__link {
  margin-left: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  color: #ffffff;
  &:focus,
  &:hover {
    color: $primary-accent-text-color;
  }
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  background-color: #e17992;
  // transform: translateX(100%);
  display: none;
  // opacity: 0;
  &.is-open {
    transform: translateX(0);
    // opacity: 1;
    display: block;
  }
}

.button__open-modal {
  border: none;
  position: relative;
  background: $secondary-text-color;
  width: 209px;
  height: 44px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #d41443;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 19px;
    right: 43px;
    width: 5px;
    height: 8px;
    background-image: url(/svg/arrow.svg);
    background-size: contain;
    margin-left: 10px;
  }
  &:focus,
  &:hover {
    background-color: #ecebeb;
  }
}
.button__open-modal--margin {
  margin: auto;
  margin-top: 65px;
  margin-bottom: 20px;
}
.button__open-modal--none {
  display: none;
}

.header__title {
    margin-top: 134px;
    width: 218px;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $secondary-text-color;
}
.header__title--color{
    color:  $primary-accent-text-color;
}

.button__list{
    display: inline-flex;
}
.button__item{
    margin-right: 8px;
    &:last-child{
        margin: 0;
    }
}




/////////////////////////////////////BUTTON
/// /////////////////////////////////////BUTTON
/// /////////////////////////////////////BUTTON
/// /////////////////////////////////////BUTTON
/// /////////////////////////////////////BUTTON
.button{
   font-size: 8px;
line-height: 1.25; 
}
.primary-button{
   background: #D41443;
border-radius: 20px; 
}