.products__title {
    margin-bottom: 8px;
    text-transform: uppercase;
text-align: center;
}


.products__title--secondary {
margin-bottom: 15px;
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
text-transform: uppercase;

color: #FFA5BA;
}

.products__title--main {
   font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #D41443;
}


.products__name {
    font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;

margin-bottom: 32px;

color: #FFFFFF;
}

.products__name::before {

     display: block;
    justify-content: center;
    content: "";
    width: 26px;
    height: 6px;
}

.products__image {
    top: 10px;
    height: 280px;
    position: absolute; 
    background-repeat: no-repeat;
    background-position: center;
    
  
    
}

.products__image--icecream {
background-image: url(/src/images/mobile/products-icecream--1x.png);
}

.products__image--icecofee {
background-image: url(/src/images/mobile/products-icecoffe--1x.png);
}

.products__image--milkshakes {
    background-image: url(/src/images/mobile/products-milkshakes--1x.png);
}



.products__name::after {
    display: block;
    justify-content: center;
    content: "";
    width: 26px;
    height: 6px;
    margin: 32px 127px 32px 127px;
   
}


.elipse::after {
  
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/src/images/svg/slider-home.svg);
   
}

.products__list {
    padding-left: 0;
    padding-right: 0;
    list-style: none;
    
}

.products__cards {

position: relative;
display: flex;
justify-content: center;
padding-top: 150px;

}



.products__photo {
    width: auto;
    position: absolute; 
    justify-content: center;
    margin-bottom: 20px;
    top: 10px;    
}

.products__discription {

  padding-top: 150px;
  padding-bottom: 40px;
  width: 280px;
  border-radius: 24px;
  
}

.products__info {
    padding-left: 41px;
    padding-right: 41px;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.52;
/* or 21px */
text-align: center;
letter-spacing: 0.04em;
margin-bottom: 32px;
color: #FFFFFF;

}


.products__discription--icecream {
background-color: #FFB8CA;
    
}

.products__discription--icecoffe {
background-color: #F0D1A5;

}

.products__discription--milkshake {
background-color: #C2E297;
    
}

.products__button {
    margin-right: 120px;
    margin-left: 120px;
    border-radius: 50%;

}





/* .button__icon {
    margin-right: 120px;
    margin-left: 120px;
    border-radius: 50%;
    outline: 1px solid tomato;
} */

// .product__icon {
//     margin-right: 120px;
//     margin-left: 120px;
//     border-radius: 50%;
    
//     outline: 1px solid tomato;

// }


